<h1>O nama</h1>
<p>Nas klub je otvoren Decembra 2021 godine u Svilajncu od strane Strahinje Lalovica, braon pojasa
	u brazilskoj dziudzitsi.
	Odmah je privukao paznju veceg broja ljudi, kako mladih tako i starijih.
	Decembra 2022 godine klub je stupio u afilijaciju sa timom Kimura BJJ iz Beograda i na taj nacin
	produbio prijateljske odnose u BJJ svetu.

	Osvajanjem medalja i izlascima na takmicenje clanovi kluba su pokazali ozbiljnost pristupa borilackoj vestini.

</p>
