@model Product


<body>
	<div class="wrapper" style="margin:0; width: 1200px;  ">
		<main>
			<div class="d-flex" style="margin:0 auto; font-weight:bold; color:black">

				<div class="col-12 " style="text-align:center; margin:3em 3em">
					<a style="text-decoration:none;" asp-area="Customer" asp-action="About">
						<img src="~/Images/HomePage/magnum dule.jpg" style="width:90%; border-radius: 0.8em" class="" />
						<h2 class="pt-4"> Additional Information</h2>
					</a>
				</div>
			</div>

			<div class="d-flex wrapper">
				<div style="width:40%; margin:0 0 0 22.74%">
					<a style="text-decoration:none;" asp-action="Shop" asp-controller="Home" asp-area="Customer">
						<img  src="~/Images/HomePage/ShopMagnum.jpg" style="width:60%; border-radius:0.8em" />
						<h2 class="pt-2">Online SHop</h2>
						<p style="width:60%;"> If you like to buy newest gear for combat sport you desire, visit our ONLINE SHOP</p>
					</a>
				</div>

				<div style="width:40%; margin:0 0 0 0">
					<a style="text-decoration:none;" asp-action="CaL" asp-controller="Home">
						<img  src="~/Images/HomePage/medalja magnum.jpg" style=" width:60%; height:378.77px; border-radius:0.8em;" />
						<h2 class="pt-2">Join Our Team</h2>
						<p style="width:60%;"> If you like to join our team or ask for additional informations, please contact us </p>
					</a>
				</div>
			</div>

		</main>



	</div>
</body>



