@model Member


<form method="post" enctype="multipart/form-data">
	<input asp-for="Id" hidden />
	<div>
		<h1 class="text pt-4"> Create member</h1>
		<div class="form-group">
			<label asp-for="Name" class="form-label mt-4">Name</label>
			<input asp-for="Name" class="form-control" placeholder="Enter name">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Age" class="form-label mt-4">Age</label>
			<input asp-for="Age" class="form-control" placeholder="Enter age">
			<span asp-validation-for="Age" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Phone" class="form-label mt-4">Phone</label>
			<input asp-for="Phone" class="form-control" placeholder="Enter phone">
		</div>
		<div class="form-group">
			<label asp-for="Sessions" class="form-label mt-4">Sessions</label>
			<input asp-for="Sessions" class="form-control" placeholder="Enter number of sessions">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		@*<div class="form-group">
			<label asp-for="Rank" class="form-label mt-4">Rank</label>
			<input asp-for="Rank" class="form-control" placeholder="Enter number of sessions">
			<span asp-validation-for="Rank" class="text-danger"></span>
		</div>*@

		<div class="form-group">
		<label for="Rank" class="form-label mt-4">Select rank</label>
		<select asp-for="Rank" class="form-select">
		<option>White belt</option>
		<option>Blue belt</option>
		<option>Purple belt</option>
		<option>Brown belt</option>
		<option>Black belt</option>
		</select>
		<span asp-validation-for="Name"></span>
		</div>


		<div class="form-group">
		<label for="exampleTextarea" class="form-label mt-4">Additional informations</label>
		<textarea class="form-control"  rows="3"></textarea>
		</div>
		<div class="form-group">
		<label for="formFile" class="form-label mt-4">Default file input example</label>
		<input class="form-control" type="file" name="file" id="formFile">
		</div>

		<div class="pt-2">
			<button type="submit" class="btn btn-primary ">
				Create
			</button>

			<a class="btn btn-primary text text-end " asp-controller="Member" asp-action="Index">Go Back</a>
		</div>
		
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}